:root{
  --text-color: #fff;
  --background-black-color: #181818;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: var(--text-color);
}

.entry{
  background-color: var(--background-black-color);
}
