.card-4{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: black;
    border-top:4px solid #333;
    border-bottom: 4px solid #333;
}
.card-4 h1 {
    font-size: 2.5rem;
    padding: 1rem;
    padding-left: 0;
  }
  .card-4 h3 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

.desc-4{
    padding-left: 100px;
}

@media (max-width: 960px) {
  .card-4 {
    grid-template-columns: 100%; 
    padding: 20px;
  }

  .desc-4 {
    padding-left: 0;
    margin-top: 20px; /* Adjust spacing for smaller screens */
  }

  .card-4 h1 {
    font-size: 2rem;
  }

  .card-4 h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
}


@media (max-width: 700px) {


  .card-4 h1 {
    font-size: 1.8rem;
  }

  .card-4 h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}